Import libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

Get dataset

In [2]:
Dataset = pd.read_csv('interactive_data.csv')
Dataset.head()

,Unnamed: 0,Intent,Gender,Age,Race,Deaths,Population,Rate
0,1,None selected,None selected,None selected,None selected,33599,316299978,10.6
1,2,None selected,None selected,None selected,White,22079,197369634,11.2
2,3,None selected,None selected,None selected,Black,7765,38896382,20.0
3,4,None selected,None selected,None selected,Hispanic,3007,54049078,5.6
4,5,None selected,None selected,None selected,Asian/Pacific Islander,442,16315561,2.7

Nearly *two-thirds* of gun deaths are *suicides*

In [3]:
Suicide = Dataset[Dataset["Intent"] == "Suicide"]
Total_suicide = np.array(Suicide["Deaths"])[0]
Total_suicide

21058

In [4]:
Suicide2 = Dataset[Dataset["Intent"] == "Suicide"]
Total_suicide2 = Suicide2["Deaths"].iloc[0]
Total_suicide2

21058

In [5]:
Total_deaths =Dataset["Deaths"].iloc[0]
Total_deaths

33599

In [7]:
print(Total_suicide/Total_deaths)

0.6267448435965356

## More than *85 percent* of suicide victims are *male*.

In [8]:
Suicide_male = Suicide[Suicide["Gender"] == "Male"]
Total_suicide_male = Suicide_male["Deaths"].iloc[0]

18162

In [9]:
print(Total_suicide_male/Total_suicide)

0.8624750688574414

## Around *a third* of all gun deaths are *homicides*.

In [12]:
Homicides = Dataset[Dataset["Intent"]=="Homicide"]

In [14]:
Total_Homicides = Homicides["Deaths"].iloc[0]

In [30]:
print(Total_Homicides/Total_deaths)

0.3489984820976815

## Around *two-thirds* of homicide victims who are *males* in the *age-group of 15--34* are *black*.

In [25]:
jung_men = Dataset[(Dataset["Gender"] == "Male") & (Dataset["Age"] == "15 - 34")]
Total_jung_men_deaths = jung_men["Deaths"].iloc[0]
jung_men.head()

,Unnamed: 0,Intent,Gender,Age,Race,Deaths,Population,Rate
84,85,None selected,Male,15 - 34,None selected,11202,44017869,25.4
85,86,None selected,Male,15 - 34,White,4409,24831032,17.8
86,87,None selected,Male,15 - 34,Black,4855,5869943,82.7
87,88,None selected,Male,15 - 34,Hispanic,1631,9379683,17.4
88,89,None selected,Male,15 - 34,Asian/Pacific Islander,170,2415040,7.0

In [26]:
print(Total_jung_men_deaths)

11202

In [32]:
black_jung_men = jung_men[jung_men["Race"]=="Black"]
Total_black_jung_men_deaths = black_jung_men["Deaths"].iloc[0]
black_jung_men.head()
print(Total_black_jung_men_deaths/Total_jung_men_deaths)

0.43340474915193716

## *Women* constitue only *15 percent* of the total *homicide* victims.

In [33]:
Women_Homicides = Homicides[Homicides["Gender"] == "Female"]
Total_Women_Homicides = Women_Homicides["Deaths"].iloc[0]
print(Total_Women_Homicides/Total_Homicides)

0.15273750639604297